<div
  class="loader"
  role="status"
  aria-live="polite"
  aria-label="Delta LandMark"
  [attr.aria-busy]="!exiting()"
  [class.loader--exit]="exiting()"
>
  <svg
    class="loader__mark"
    [class.loader__mark--wait]="waiting()"
    viewBox="0 0 192 272"
    role="img"
    aria-hidden="true"
  >
    <defs>
      <mask id="dlm-loader-mask" maskUnits="userSpaceOnUse" x="0" y="0" width="192" height="272">
        <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round">
          @for (stroke of strokes; track stroke.id) {
            <path
              #stroke
              [attr.d]="stroke.d"
              [attr.stroke-width]="stroke.width"
              pathLength="1"
              stroke-dasharray="1"
              stroke-dashoffset="1"
            />
          }
        </g>
      </mask>
    </defs>
    <image #logo [attr.href]="logoSrc" width="192" height="272" />
  </svg>
</div>
