.brand-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  gap: 1em;
}

.brand-grid__item {
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 1.5em;
  background: linear-gradient(160deg, var(--surface-top), var(--surface-bottom));
  backdrop-filter: blur(40px);
  border-radius: 2rem;
  box-shadow:
    inset 1px 1px 3px var(--shadow-light),
    inset -2px -2px 12px var(--shadow-dark);

  img {
    max-height: 4.5em;
    width: auto;
    object-fit: contain;
  }
}
