.plans {
  display: grid;
  gap: 1.5em;
}

.plans__item {
  margin: 0;
  border-radius: var(--radius-soft);
  overflow: hidden;
  background: var(--color-bg-muted);

  img {
    width: 100%;
    height: auto;
  }
}
